<section class="hero is-medium is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Vergil's Photos</h1>
      <p class="subtitle">Quick view</p>
    </div>
  </div>
</section>

<section class="container">
  <div class="columns">
    <div class="column is-3">
      <div>
        <%= image_tag("banner") %>
      </div>
    </div>
    <div class="column is-3">
      <div>
        <%= image_tag("banner") %>
      </div>
    </div>
    <div class="column is-3">
      <div>
        <%= image_tag("banner") %>
      </div>
    </div>
    <div class="column is-3">
      <div>
        <%= image_tag("banner") %>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-3">
      <div>
        <%= image_tag("banner") %>
      </div>
    </div>
    <div class="column is-3">
      <div>
        <%= image_tag("banner") %>
      </div>
    </div>
    <div class="column is-3">
      <div>
        <%= image_tag("banner") %>
      </div>
    </div>
    <div class="column is-3">
      <div>
        <%= image_tag("banner") %>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-3">
      <div>
        <%= image_tag("banner") %>
      </div>
    </div>
    <div class="column is-3">
      <div>
        <%= image_tag("banner") %>
      </div>
    </div>
    <div class="column is-3">
      <div>
        <%= image_tag("banner") %>
      </div>
    </div>
    <div class="column is-3">
      <div>
        <%= image_tag("banner") %>
      </div>
    </div>
  </div>

  <div style="margin-bottom: 80px">
    <div style="float: right">
      <i class="fas fa-arrow-up"></i>
    </div>
  </div>
</section>
